<div class="row">
  <div class="col-12 col-lg-6">
    <div class="kt-portlet kt-portlet--tab">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <span class="kt-portlet__head-icon kt-hide">
            <i class="la la-gear"></i>
          </span>
          <h3 class="kt-portlet__head-title">QR</h3>
        </div>
      </div>
      <div class="kt-portlet__body">
        <zxing-scanner
          *ngIf="scannerEnabled"
          #scanner
          (scanSuccess)="scanSuccessHandler($event)"
        >
        </zxing-scanner>
        <button
          (click)="enableScanner()"
          *ngIf="!scannerEnabled"
          type="button"
          class="btn btn-success"
        >
          LEER OTRO
        </button>
      </div>
    </div>
  </div>
  <br />
  <strong
    >Index Done<span> &nbsp; {{ indexdone }}</span></strong
  >
  &nbsp;&nbsp;
  <button (click)="saveFile()">saveFile</button>

  <div class="col-12 col-lg-6">
    <div
      class="
        kt-portlet kt-callout kt-callout--info kt-callout--diagonal-bg
        scannedInfo
      "
    >
      <div class="kt-portlet__body">
        <div class="kt-callout__body">
          <div class="kt-callout__content">
            <br />
            <div>
              <strong>load json as File</strong>&nbsp;
              <input id="preview" type="file" (change)="previewFile($event)" />
            </div>
            <br />
            <div>
              <button (click)="showMissingKeys()" style="margin-top:10px">
                Show Missing Keys
              </button>
              &nbsp;&nbsp;
              <strong> file keys {{ fileDatakeys }} </strong>
            </div>
            <br />
            <div>
              <strong>save json To zip</strong>&nbsp;
              <input id="savezip" type="file" (change)="saveZip($event)" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
